
#app {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 0;
    margin-top: 0;
    background-color: rgb(168, 92, 160);
}

header h1 {
    text-align: center;
    margin-bottom: 5px;
    margin-right: 0;
}

header button {
    width: 120px;
    height: 30px;
    margin-left: 91%;
    margin-bottom: 10px;
}

.search-Sort, .searchBox {
    left: 85%;
    padding: 20px;
    width: 200px;
    position: fixed;
    border: 5px solid black;
    border-radius: 20px;
}

.search-Sort {
    top: 40%;
}

.pageHeader {
    text-align: center;
}

.lesson {
    margin-left: 15%;
    margin-top: 2%;
    position: relative;
    width: 300px;
    height: 200px;
    border: 5px solid black;
    border-radius: 20px;
    flex-direction: row;
}

.lesson h2 {
    font-size: 20px;
}

.lesson h2, .lesson p{
    position: relative;
    display: flex;
    margin-left: 10px;
}

.lessonImage {
    position: absolute;
    display: flex;
    margin-left: 180px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.lesson button {
    display: flex;
    margin-left: 180px;
}

.fa-plus {
    position: relative;
    top: 3px;
    margin-right: 3px;
}

.cartProducts {
    padding: 10px;
    width: 180px;

    margin-left: 200px;
}

.basket {
    width: 320px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    margin-left: 200px;
}

.inputField {
    margin-left: 28px;
}